DISCORD_TOKEN=<YOUR_TOKEN>
APPLICATION_ID=<YOUR_APPLICATION_ID>
BOT_USERNAME=JasonMusic
LAVALINK_HOST=localhost
LAVALINK_PORT=2333
LAVALINK_AUTH=youshallnotpass
LAVALINK_NODE_ID=testnode
LAVALINK_SECURE=false
DJ_STREAMING_URL=http://yourstreamurl.com/stream
VERSION=1.0.0
CHANGELOG="- Initial beta release with core music playback features."
FOOTER_TEXT="JasonMusic Version: ${VERSION} | Made by jas_on"
FOOTER_ICON_URL="https://cdn.discordapp.com/app-icons/1028372176878964808/095cf300281d0b859ba7738dba49087d.png?size=256"
MUSIC_DIRECTORY=./music